.bar {
    display: grid;
    grid-template-areas: 'img title duration' 'img author duration' 'img progressBar duration';
}
.progressBar {
    display : block;
    width: 450px;
    height: 2px;
    border: 5px solid #ffffff;
    grid-area: progressBar;
}
.progressBar:hover {
    cursor: pointer;
}
.img {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    grid-area: img;
}
.duration {
    align-self: center;
    font-size: 12px;
    color: slategrey;
    grid-area: duration;
}
.title {
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    grid-area: title ;
}
.author {
    font-size: 12px;
    color: slategrey;
    grid-area: author;
}