.main {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    margin: 20px;
    border-radius: 5px;
}
.h1 {
 font-size: 18px;
    font-weight: 500;
    padding: 10px 10px 0px 20px;
}
.h2 {
    font-size: 12px;
    font-weight: 400;
    padding: 0px 10px 10px 20px;
}
.userList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}