.item {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
    margin: 0px 10px 10px 10px;
}
.foto {
    max-height: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}