.item {
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.imgWrapper {
    display: block;
    width: 140px;
    height: 80px;
    border-radius: 2px;
}
.imgWrapper:hover {
    cursor: pointer;
}
.time {
    font-size: 12px;
    background-color: rgba(3,3,3,0.5);
    color: #ffffff;
    padding: 3px 10px 3px 10px;
    align-self: end;
    justify-self: end;
    margin: 5px;
}
.hiddenMenu {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100%;
}
.title {
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
}
.title:hover {
    cursor: pointer;
    text-decoration: underline;
}
.author:hover {
    cursor: pointer;
    text-decoration: underline;
}
.author {
    color: #3e6fa3;
    font-size: 12px;
    font-weight: 400;
}
.views {
    display: block;
    float: left;
    color: slategrey;
    font-size: 12px;
    padding-right: 5px;
}
.data {
    color: slategrey;
    font-size: 12px;
}
.selected {
   background-color: rgba(120,120,120,0.5);
}