.footer {
    background-color: #fafbfc;
    border-top: 1px solid #ecedf0 ;
    height: 50px;
}
.text {
    width: fit-content;
    line-height: 50px;
    margin-left: auto;
    margin-right: auto;
}